.thumbnail {
  width: 100%;
}

.heading {
  width: 300px;
}

.channel-picture {
  display: inline-block;
  width: 50px;
}
.video-info {
  vertical-align: top;
  display: inline-block;
  width: 200px;
}
.profile-pic {
  width: 40px;
  border-radius: 50px;
}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 12px;
}
.thumbnail-row {
  margin-bottom: 20px;
}
.video-stats,
.video-author {
  font-size: 12px;
  color: rgb(171, 164, 153);
}
.video-author {
  margin-bottom: 4px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
